@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color:#dcdce8;
}

.header {
  text-align: center;
  padding: 20px;
}

.container {
  width: 85%;
  margin: auto;
}

.flexSB {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  margin-bottom: 20px; 
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.row {
  width: 50%;
}

.hero .row {
  width: 100%;
}

#heading {
  text-align: center;
  padding: 40px 0;
}

#heading h3 {
  font-weight: 600;
  letter-spacing: 1px;
  color: #1eb2a6;
  text-transform: uppercase;
}

#heading h1 {
  font-size: 45px;
  margin: 20px 0;
  text-transform: capitalize;
}

p {
  line-height: 30px;
  font-size: 18px;
}


h2 {
  font-size: small; /* Adjusted */
}


@keyframes slideInOut {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

/* Add this new CSS rule */
.scale-filled-portion {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--red);
  border-radius: 9999px;
}
.circle-indicator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.circle-indicator-position {
  left: 0;
}

.circle-indicator-position[data-position] {
  left: calc(var(--indicator-position) * 1%);
}

@media screen and (max-width: 768px) {
  .mainContent {
    padding-top: -10px; /* or equal to .mobileTop height */
  }
}
